*.pth
__pycache__/
work_dirs/*
pretrained/*
*/__pycache__
models/models/backbones/__pycache__
models/models/utils/__pycache__
data/*
data
output/*
.idea/*
result_keypoints.json
/dense-mp-100/
/tools/ap10k
/tools/pck_comparison
.eggs
*.jpg
*.png
pose_anything.egg-info